* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
min-height: 100vh;
background-image: linear-gradient(-45deg, #e3ddd9 50%, #7aece2 50%);
font-family: sans-serif;
}

.titulo {
    font-size: 40px;
    font-family: cursive;
    margin-bottom: 40px;
    color:aqua;
}

/* estilos para el carousel*/

.carousel {
    min-width: 500px;
}

.carousel .carousel-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;

}

.carousel .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 15px;
}